.header{
  @apply flex p-4 justify-between items-center;
  background: #2e4050;
}
.header-icon{
  @apply text-white px-4;
}
.tailwind-icon-size{
  @apply xl:h-7 xl:w-7 h-5 w-5;
}
.separator{
  width: 0.5px;
  @apply h-12 mx-6;
  background: rgb(81, 111, 144);
}