.action-button{
  color: rgb(0, 145, 174) !important;
  @apply flex items-center;
}
.contact-details{
  //letter-spacing: 0.025em;
}
.contact-icon{
  background-color: #eaf0f6;
  border-color: #cbd6e2;
  border-width: 1px;
  svg{
    color: #506e91;
  }
}
.title{
  @apply text-xs font-light pt-1
}